{% extends "base.html" %}

{% block title%}GC-Profile{%endblock%}

{% block head%}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock%}

{%block body%}
    <hr>
    <div class="profile-container">
        <h1>{{ user.username }}'s Profile</h1>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Account Created: {{ user.join_time }}</p>
        <p>Number of Posts: {{ user.questions|length }}</p>
        <p>Number of Comments: {{ user.answer|length }}</p>
    </div>
{% endblock %}